.app {
  background: #209cee;
  height: 100vh;
  padding: 30px;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  color: red;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}

.input {
  font-size: 24px;
  line-height: 32px;
}

.todo-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.submit-button {
  background-color: greenyellow;
  padding: 4px;
  font-size: 20px;  
}
.submit-button:hover {
  background-color: green;
}
.actions {
  display: flex;
}

.action {
  box-sizing: border-box;
  padding: 0.5em;
  margin: 4px;
  width: 50%;
  border: 1px solid red;
  flex: 1 1 auto;
}
